@import 'reset.scss';

:root{
    --white-color:#fff;
    --body-background:#f6f3f3;
    --border-color:#E1E1E1;
    --background-footer:#ECEAEA;
    --text-color:#343030;
    --primory-background:#382E2B;
    --primory-background-hover:#776763;
    --selected-background:#5B3A32;
    --footer-text-color:#555555;
    --placeholder-color:#9F9F9F;
    --input-selected:#B5B5B5;
    --disable-button:#C1B4B1;
    --text-size:14px;
}

